.home-hero-header {
  background: url(../../images/home-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}

.home-hero-header-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.home-title {
  font-size: 40px;
  background-color: var(--main-color);
  padding: 10px 17px;
  border-radius: 21px;
  color: var(--dark-color);
  border: 2px solid var(--green-color);
}

.home-latest-post {
  margin-left: 30px;
  padding-bottom: 5px;
  font-size: 30px;
  font-weight: bold;
  color: var(--dark-color);
  width: max-content;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--dark-color);
}

.home-container {
  padding: 0 30px;
  display: flex;
  align-items: flex-start;
}
